language: ruby

env:
  global:
# A particular commit ref can be used if Cantaloupe build is broken
#  - COMMIT_REF="5c897c92"
  matrix:
  - "CANTALOUPE_VERSION=stable"
  - "CANTALOUPE_VERSION=dev"

services:
- docker

# Upgrade Docker to the current version
before_install:
- .travis/upgrade.sh

script:
- travis_retry bundle exec rspec spec/cantaloupe_spec.rb

after_success:
- .travis/deploy.sh

notifications:
  email:
    recipients:
      - ksclarke@ksclarke.io
    on_success: change
    on_failure: change

#
# Things one needs to set in their project's online Travis configuration
#
# DOCKER_PASSWORD - For logging into the Docker registery (e.g., DockerHub)
# DOCKER_USERNAME - For logging into the Docker registery (e.g., DockerHub)
# AUTH_TOKEN - For querying GitHub releases (otherwise, it's rate limited)
# REG_USERNAME - The DockerHub user or organization that owns the project
# REG_PROJECT - The DockerHub project to which the tagged image is being pushed
# MASTER_BRANCH - The Git branch fromw which you want to push to the registry
#
