###########################################################################
# Cantaloupe.properties managed by confd
###########################################################################

# !! Leave blank to use the JVM default temporary directory.
temp_pathname =

# !! Configures the HTTP server. (Standalone mode only.)
http.enabled = true
http.host = 0.0.0.0
http.port = 8182
http.http2.enabled = true

# !! Configures the HTTPS server. (Standalone mode only.)
https.enabled = false
https.host = 0.0.0.0
https.port = 8183
# Secure HTTP/2 requires Java 9 or later.
https.http2.enabled = false

# !! Available values are `JKS` and `PKCS12`. (Standalone mode only.)
https.key_store_type = JKS
https.key_store_password = myPassword
https.key_store_path = /path/to/keystore.jks
https.key_password = myPassword

# !! Maximum size of the HTTP(S) request queue. Leave blank to use the
# default.
#http.accept_queue_limit = $HTTP_ACCEPT_QUEUE_LIMIT

# Base URI to use for internal links, such as Link headers and JSON-LD
# @id values, in a reverse-proxy context. This should only be used when
# X-Forwarded-* headers cannot be used instead. (See the user manual.)
#base_uri = $BASE_URI

# Normally, slashes in a URI path component must be percent-encoded as
# "%2F". If your proxy is not able to pass these through without decoding,
# you can define an alternate character or character sequence to substitute
# for a slash. Supply the non-percent-encoded version here, and use the
# percent-encoded version in URLs.
#slash_substitute = $SLASH_SUBSTITUTE

# Maximum number of pixels to return in a response, to prevent overloading
# the server. Requests for more pixels than this will receive an error
# response. Set to 0 for no maximum.
max_pixels = 400000000
#max_pixels = $MAX_PIXELS

# Errors will also be logged to the error log (if enabled).
print_stack_trace_on_error_pages = true

###########################################################################
# DELEGATE SCRIPT
###########################################################################

# Enables the delegate script: a Ruby script containing various delegate
# methods. (See the user manual.)
delegate_script.enabled = false

# !! This can be an absolute path, or a filename; if only a filename is
# specified, it will be searched for in the same folder as this file, and
# then the current working directory.
delegate_script.pathname = delegates.rb

# Enables the invocation cache, which caches method invocations and return
# values in memory. See the user manual for more information.
delegate_script.cache.enabled = false

###########################################################################
# ENDPOINTS
###########################################################################

# !! Configures HTTP Basic authentication in all public endpoints.
endpoint.public.auth.basic.enabled = false
#endpoint.public.auth.basic.enabled = $ENDPOINT_PUBLIC_AUTH_BASIC_ENABLED
#endpoint.public.auth.basic.username = $ENDPOINT_PUBLIC_AUTH_BASIC_USERNAME
#endpoint.public.auth.basic.secret = $ENDPOINT_PUBLIC_AUTH_BASIC_SECRET

# Enables the IIIF Image API 1.x endpoint, at /iiif/1.
endpoint.iiif.1.enabled = false

# Enables the IIIF Image API 2.x endpoint, at /iiif/2.
endpoint.iiif.2.enabled = true

# Controls the response Content-Disposition header for images. Allowed
# values are `inline`, `attachment`, and `none`. This can be overridden
# using the ?response-content-disposition query argument.
endpoint.iiif.content_disposition = inline

# Minimum size that will be used in info.json `sizes` keys.
endpoint.iiif.min_size = 64

# Minimum size that will be used in info.json `tiles` keys. The user manual
# explains how these are calculated.
endpoint.iiif.min_tile_size = 512

# If true, requests for sizes other than those contained in an information
# response will be denied.
endpoint.iiif.2.restrict_to_sizes = false

# Enables the Control Panel, at /admin.
endpoint.admin.enabled = $ENDPOINT_ADMIN_ENABLED
endpoint.admin.username = admin
endpoint.admin.secret = $ENDPOINT_ADMIN_SECRET

# Enables the administrative HTTP API. (See the user manual.)
endpoint.api.enabled = false

# HTTP Basic credentials to access the HTTP API.
#endpoint.api.username = $ENDPOINT_API_USERNAME
#endpoint.api.secret = $ENDPOINT_API_SECRET

###########################################################################
# SOURCES
###########################################################################

# Uses one source for all requests. Available values are `FilesystemSource`,
# `HttpSource`, `JdbcSource`, `S3Source`, and `AzureStorageSource`.
source.static = $SOURCE_STATIC

# If true, `source.static` will be overridden, and the `source()` delegate
# method will be used to select a source per-request.
source.delegate = false

#----------------------------------------
# FilesystemSource
#----------------------------------------

# How to look up files. Allowed values are `BasicLookupStrategy` and
# `ScriptLookupStrategy`. ScriptLookupStrategy uses the delegate script for
# dynamic lookups; see the user manual.
FilesystemSource.lookup_strategy = BasicLookupStrategy

# Server-side path that will be prefixed to the identifier in the URL.
# Trailing slash is important!
FilesystemSource.BasicLookupStrategy.path_prefix = $FILESYSTEMSOURCE_BASICLOOKUPSTRATEGY_PATH_PREFIX

# Server-side path or extension that will be suffixed to the identifier in
# the URL.
FilesystemSource.BasicLookupStrategy.path_suffix = $FILESYSTEMSOURCE_BASICLOOKUPSTRATEGY_PATH_SUFFIX

#----------------------------------------
# HttpSource
#----------------------------------------

#HttpSource.trust_all_certs = false
#HttpSource.request_timeout = $HTTPSOURCE_REQUEST_TIMEOUT

# Tells HttpSource how to look up resources. Allowed values are
# `BasicLookupStrategy` and `ScriptLookupStrategy`. ScriptLookupStrategy
# uses a delegate method for dynamic lookups; see the user manual.
#HttpSource.lookup_strategy = BasicLookupStrategy

# URL that will be prefixed to the identifier in the request URL.
# Trailing slash is important!
#HttpSource.BasicLookupStrategy.url_prefix = http://localhost/images

# Path, extension, query string, etc. that will be suffixed to the
# identifier in the request URL.
#HttpSource.BasicLookupStrategy.url_suffix = $HTTPSOURCE_BASICLOOKUPSTRATEGY_URL_SUFFIX

# Enables access to resources that require HTTP Basic authentication.
#HttpSource.BasicLookupStrategy.auth.basic.username = $HTTPSOURCE_BASICLOOKUPSTRATEGY_AUTH_BASIC_USERNAME
#HttpSource.BasicLookupStrategy.auth.basic.secret = $HTTPSOURCE_BASICLOOKUPSTRATEGY_AUTH_BASIC_SECRET

#----------------------------------------
# S3Source
#----------------------------------------

# !! Endpoint URI.
# For AWS endpoints, see:
# https://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region
S3Source.endpoint = $S3SOURCE_ENDPOINT

# !! Credentials for your AWS account.
# See: http://aws.amazon.com/security-credentials
# Note that this info can be obtained from elsewhere rather than setting
# it here; see the user manual.
S3Source.access_key_id = $S3SOURCE_ACCESS_KEY_ID
S3Source.secret_key = $S3SOURCE_SECRET_KEY

# !! Maximum number of concurrent HTTP connections to AWS. Leave blank to
# use the default.
S3Source.max_connections = $S3SOURCE_MAX_CONNECTIONS

# Tells S3Source how to look up objects. Allowed values are
# `BasicLookupStrategy` and `ScriptLookupStrategy`. ScriptLookupStrategy
# uses a delegate method for dynamic lookups; see the user manual.
S3Source.lookup_strategy = $S3SOURCE_LOOKUP_STRATEGY

# !! Name of the bucket containing images to be served.
S3Source.BasicLookupStrategy.bucket.name = $S3SOURCE_BASICLOOKUPSTRATEGY_BUCKET_NAME

# Path within the bucket that will be prefixed to the identifier in the URL.
# Trailing slash is important!
S3Source.BasicLookupStrategy.path_prefix = $S3SOURCE_BASICLOOKUPSTRATEGY_PATH_PREFIX

# Path or extension that will be suffixed to the identifier in the URL.
S3Source.BasicLookupStrategy.path_suffix = $S3SOURCE_BASICLOOKUPSTRATEGY_PATH_SUFFIX

###########################################################################
# PROCESSORS
###########################################################################

#----------------------------------------
# Processor Selection
#----------------------------------------

# * If set to `AutomaticSelectionStrategy`, a "best" available processor
#   will be selected per-request based on formats and installed
#   dependencies.
# * If set to `ManualSelectionStrategy`, a processor will be chosen based
#   on the rest of the keys in this section.
processor.selection_strategy = AutomaticSelectionStrategy

# Image processors to use for various source formats. Available values are
# `Java2dProcessor`, `GraphicsMagickProcessor`, `ImageMagickProcessor`,
# `KakaduDemoProcessor`, `KakaduNativeProcessor`, `OpenJpegProcessor`,
# `JaiProcessor`, `PdfBoxProcessor`, and `FfmpegProcessor`.

# These extension-specific definitions are optional.
processor.avi =  FfmpegProcessor
#processor.bmp = $PROCESSOR_BMP
processor.dcm = ImageMagickProcessor
processor.flv =  FfmpegProcessor
#processor.gif = $PROCESSOR_GIF
#processor.jp2 = $PROCESSOR_JP2
#processor.jpg = $PROCESSOR_JPG
processor.mov =  FfmpegProcessor
processor.mp4 =  FfmpegProcessor
processor.mpg =  FfmpegProcessor
processor.pdf = PdfBoxProcessor
#processor.png = $PROCESSOR_PNG
#processor.tif = $PROCESSOR_TIF
processor.webm = FfmpegProcessor
processor.webp = ImageMagickProcessor

# Fall back to this processor for any formats not assigned above.
processor.fallback = $PROCESSOR_FALLBACK

#----------------------------------------
# Global Processor Configuration
#----------------------------------------

# Controls how content is fed to processors from stream-based sources.
# * `StreamStrategy` will try to stream a source image from a source when
#   possible, and use `processor.fallback_retrieval_strategy` otherwise.
# * `DownloadStrategy` will download it to a temporary file, and delete
#   it after the request is complete.
# * `CacheStrategy` will download it into the source cache using
#   FilesystemCache, which must also be configured. (This will perform a
#   lot better than DownloadStrategy if you can spare the disk space.)
processor.stream_retrieval_strategy = StreamStrategy

# Controls how an incompatible StreamSource + FileProcessor combination is
# dealt with.
# * `DownloadStrategy` and `CacheStrategy` work the same as above.
# * `AbortStrategy` causes the request to fail.
processor.fallback_retrieval_strategy = DownloadStrategy

# Resolution of vector rasterization (of e.g. PDFs) at a scale of 1.
processor.dpi = 150

# Expands contrast to utilize available dynamic range. This usually requires
# the whole source image to be read into memory, so it can be inefficient.
processor.normalize = false

# Color of the background when an image is rotated or alpha-flattened, for
# output formats that don't support transparency.
# This may not be respected for indexed color derivative images.
processor.background_color = white

# Available values are `bell`, `bspline`, `bicubic`, `box`, `hermite`,
# `lanczos3`, `mitchell`, `triangle`. (JaiProcessor & KakaduNativeProcessor
# ignore these.)
processor.downscale_filter = bicubic
processor.upscale_filter = bicubic

# Intensity of an unsharp mask from 0 to 1.
processor.sharpen = 0

# Attempts to copy source image metadata (EXIF, IPTC, XMP) into derivative
# images. (This is not foolproof; see the user manual.)
processor.metadata.preserve = false

# Whether to auto-rotate images using the EXIF `Orientation` field.
# The check for this field can impair performance slightly.
processor.metadata.respect_orientation = false

# Progressive JPEGs are usually more compact.
processor.jpg.progressive = true

# JPEG output quality (1-100).
processor.jpg.quality = $PROCESSOR_JPG_QUALITY

# TIFF output compression type. Available values are `Deflate`, `JPEG`,
# `LZW`, and `RLE`. Leave blank for no compression.
processor.tif.compression = $PROCESSOR_TIF_COMPRESSION

#----------------------------------------
# ImageIO Plugin Preferences
#----------------------------------------

# These override the default plugins used by the application and should not
# normally be changed.
#processor.imageio.bmp.reader = $PROCESSOR_IMAGEIO_BMP_READER
#processor.imageio.gif.reader = $PROCESSOR_IMAGEIO_GIF_READER
#processor.imageio.gif.writer = $PROCESSOR_IMAGEIO_GIF_WRITER
#processor.imageio.jpg.reader = $PROCESSOR_IMAGEIO_JPG_READER
#processor.imageio.jpg.writer = $PROCESSOR_IMAGEIO_JPG_WRITER
#processor.imageio.png.reader = $PROCESSOR_IMAGEIO_PNG_READER
#processor.imageio.png.writer = $PROCESSOR_IMAGEIO_PNG_WRITER
#processor.imageio.tif.reader = $PROCESSOR_IMAGEIO_TIF_READER
#processor.imageio.tif.writer = $PROCESSOR_IMAGEIO_TIF_WRITER

#----------------------------------------
# FfmpegProcessor
#----------------------------------------

# Optional absolute path of the directory containing the FFmpeg binaries.
# Overrides the PATH.
#FfmpegProcessor.path_to_binaries =

#----------------------------------------
# GraphicsMagickProcessor
#----------------------------------------

# !! Optional absolute path of the directory containing the GraphicsMagick
# binary. Overrides the PATH.
#GraphicsMagickProcessor.path_to_binaries =

#----------------------------------------
# ImageMagickProcessor
#----------------------------------------

# !! Optional absolute path of the directory containing the ImageMagick
# binary. Overrides the PATH.
#ImageMagickProcessor.path_to_binaries =

#----------------------------------------
# KakaduDemoProcessor
#----------------------------------------

# Optional absolute path of the directory containing kdu_expand.
# Overrides the PATH.
#KakaduDemoProcessor.path_to_binaries =

#----------------------------------------
# OpenJpegProcessor
#----------------------------------------

# Optional absolute path of the directory containing opj_decompress.
# Overrides the PATH.
#OpenJpegProcessor.path_to_binaries =

###########################################################################
# CLIENT-SIDE CACHING
###########################################################################

# Whether to enable the response Cache-Control header.
#cache.client.enabled = $CACHE_CLIENT_ENABLED

#cache.client.max_age = $CACHE_CLIENT_MAX_AGE
#cache.client.shared_max_age = $CACHE_CLIENT_SHARED_MAX_AGE
#cache.client.public = $CACHE_CLIENT_PUBLIC
#cache.client.private = $CACHE_CLIENT_PRIVATE
#cache.client.no_cache = $CACHE_CLIENT_NO_CACHE
#cache.client.no_store = $CACHE_CLIENT_NO_STORE
#cache.client.must_revalidate = $CACHE_CLIENT_MUST_REVALIDATE
#cache.client.proxy_revalidate = $CACHE_CLIENT_PROXY_REVALIDATE
#cache.client.no_transform = $CACHE_CLIENT_NO_TRANSFORM

###########################################################################
# SERVER-SIDE CACHING
###########################################################################

# N.B.: The source cache may be used if the
# `processor.stream_retrieval_strategy` and/or
# `processor.fallback_retrieval_strategy` keys are set to `CacheStrategy`.

# FilesystemCache is the only available source cache.
#cache.server.source = $CACHE_SERVER_SOURCE

# Amount of time source cache content remains valid. Set to blank or 0
# for forever.
#cache.server.source.ttl_seconds = $CACHE_SERVER_SOURCE_TTL_SECONDS

# Enables the derivative (processed image) cache.
cache.server.derivative.enabled = true

# Available values are `FilesystemCache`, `JdbcCache`, `RedisCache`,
# `HeapCache`, `S3Cache`, and `AzureStorageCache`.
cache.server.derivative = $CACHE_SERVER_DERIVATIVE

# Amount of time derivative cache content remains valid. Set to blank or 0
# for forever.
cache.server.derivative.ttl_seconds = 0

# Whether to use the Java heap as a "level 1" cache for image infos, either
# independently or in front of a "level 2" derivative cache (if enabled).
cache.server.info.enabled = $CACHE_SERVER_INFO_ENABLED

# If true, when a source reports that the requested source image has gone
# missing, all cached information relating to it (if any) will be deleted.
# (This is effectively always false when cache.server.resolve_first is also
# false.)
cache.server.purge_missing = false

# If true, the source image will be confirmed to exist before a cached copy
# is returned. If false, the cached copy will be returned without checking.
# Resolving first is safer but slower.
cache.server.resolve_first = false

# !! Enables the cache worker, which periodically purges invalid cache
# items in the background.
cache.server.worker.enabled = false

# !! The cache worker will wait this many seconds before starting its
# next shift.
#cache.server.worker.interval = $CACHE_SERVER_WORKER_INTERVAL

#----------------------------------------
# FilesystemCache
#----------------------------------------

# If this directory does not exist, it will be created automatically.
FilesystemCache.pathname = $FILESYSTEMCACHE_PATHNAME

# Levels of folder hierarchy in which to store cached images. Deeper depth
# results in fewer files per directory. Set to 0 to disable subdirectories.
# Purge the cache after changing this.
FilesystemCache.dir.depth = $FILESYSTEMCACHE_DIR_DEPTH

# Number of characters in tree directory names. Should be set to
# 16^n < (max number of directory entries your filesystem can deal with).
# Purge the cache after changing this.
FilesystemCache.dir.name_length = $FILESYSTEMCACHE_DIR_NAME_LENGTH

#----------------------------------------
# HeapCache
#----------------------------------------

# Target cache size, in bytes or a number ending in M, MB, G, GB, etc.
# This is not a hard limit, and may be transiently exceeded.
# Ensure your heap can accommodate this size.
HeapCache.target_size = $HEAPCACHE_TARGET_SIZE

# If true, the cache contents will be written to a file on exit and during
# cache worker shifts, and read back in at startup.
HeapCache.persist = $HEAPCACHE_PERSIST

# When the contents are persisted, this specifies the location of the cache
# file. If the parent directory does not exist, it will be created
# automatically.
HeapCache.persist.filesystem.pathname = $HEAPCACHE_PERSIST_FILESYSTEM_PATHNAME

#----------------------------------------
# S3Cache
#----------------------------------------

# !! Endpoint URI.
# For AWS endpoints, see:
# https://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region
S3Cache.endpoint =  $S3SOURCE_ENDPOINT

# !! Credentials for your AWS account.
# See: http://aws.amazon.com/security-credentials
# Note that this info can be obtained from elsewhere rather than setting it
# here; see the user manual.
S3Cache.access_key_id = $S3CACHE_ACCESS_KEY_ID
S3Cache.secret_key = $S3CACHE_SECRET_KEY

# !! Name of a bucket to use to hold cached data.
S3Cache.bucket.name = $S3CACHE_BUCKET_NAME

# !! String that will be prefixed to object keys.
S3Cache.object_key_prefix = $S3CACHE_OBJECT_KEY_PREFIX

# !! Maximum number of concurrent HTTP connections to AWS. Leave blank to
# use the default.
S3Cache.max_connections = $S3CACHE_MAX_CONNECTIONS

###########################################################################
# OVERLAYS
###########################################################################

# Whether to enable overlays.
overlays.enabled = $OVERLAYS_ENABLED

# Controls how overlays are configured. `BasicStrategy` will use the
# `overlays.BasicStrategy.*` keys in this section. `ScriptStrategy` will
# use a delegate method. (See the user manual.)
overlays.strategy = $OVERLAYS_STRATEGY

# `image` or `string`.
overlays.BasicStrategy.type = $OVERLAYS_BASICSTRATEGY_TYPE

# Absolute path or URL of the overlay image. Must be a PNG file.
overlays.BasicStrategy.image = $OVERLAYS_BASICSTRATEGY_IMAGE

# Overlay text.
overlays.BasicStrategy.string = $OVERLAYS_BASICSTRATEGY_STRING

# For possible values, launch with the -Dcantaloupe.list_fonts option.
overlays.BasicStrategy.string.font = $OVERLAYS_BASICSTRATEGY_STRING_FONT

# Font size in points.
overlays.BasicStrategy.string.font.size = $OVERLAYS_BASICSTRATEGY_STRING_FONT_SIZE

# If the string doesn't fit in the image at the above size, the largest size
# at which it does fit will be used, down to this.
overlays.BasicStrategy.string.font.min_size = $OVERLAYS_BASICSTRATEGY_STRING_FONT_MIN_SIZE

# Font weight. 1 = regular, 2 = $# FONT WEIGHT_ 1 = REGULAR, 2
# support fractional weights.
overlays.BasicStrategy.string.font.weight = $OVERLAYS_BASICSTRATEGY_STRING_FONT_WEIGHT

# Point spacing between glyphs, typically between -0.1 and 0.1.
overlays.BasicStrategy.string.glyph_spacing = $OVERLAYS_BASICSTRATEGY_STRING_GLYPH_SPACING

# CSS color syntax is supported.
overlays.BasicStrategy.string.color = $OVERLAYS_BASICSTRATEGY_STRING_COLOR

# CSS color syntax is supported.
overlays.BasicStrategy.string.stroke.color = $OVERLAYS_BASICSTRATEGY_STRING_STROKE_COLOR

# Stroke width in pixels.
overlays.BasicStrategy.string.stroke.width = $OVERLAYS_BASICSTRATEGY_STRING_STROKE_WIDTH

# Color of a rectangular background to draw under the string.
# CSS color syntax and alpha are supported.
overlays.BasicStrategy.string.background.color = $OVERLAYS_BASICSTRATEGY_STRING_BACKGROUND_COLOR

# Allowed values: `top left`, `top center`, `top right`, `left center`,
# `center`, `right center`, `bottom left`, `bottom center`, `bottom right`.
overlays.BasicStrategy.position = $OVERLAYS_BASICSTRATEGY_POSITION

# Pixel margin between the overlay and the image edge.
overlays.BasicStrategy.inset = $OVERLAYS_BASICSTRATEGY_INSET

# Output images less than this many pixels wide will not receive an overlay.
# Set to 0 to add the overlay regardless.
overlays.BasicStrategy.output_width_threshold = $OVERLAYS_BASICSTRATEGY_OUTPUT_WIDTH_THRESHOLD

# Output images less than this many pixels tall will not receive an overlay.
# Set to 0 to add the overlay regardless.
overlays.BasicStrategy.output_height_threshold = $OVERLAYS_BASICSTRATEGY_OUTPUT_HEIGHT_THRESHOLD

###########################################################################
# REDACTIONS
###########################################################################

# See the user manual for information about how redactions work.
redaction.enabled = $REDACTION_ENABLED

###########################################################################
# LOGGING
###########################################################################

#----------------------------------------
# Application Log
#----------------------------------------

# `trace`, `debug`, `info`, `warn`, `error`, `all`, or `off`
log.application.level = $LOG_APPLICATION_LEVEL

log.application.ConsoleAppender.enabled = true

# N.B.: Don't enable FileAppender and RollingFileAppender simultaneously!
log.application.FileAppender.enabled = $LOG_APPLICATION_FILEAPPENDER_ENABLED
log.application.FileAppender.pathname = $LOG_APPLICATION_FILEAPPENDER_PATHNAME

log.application.RollingFileAppender.enabled = $LOG_APPLICATION_ROLLINGFILEAPPENDER_ENABLED
log.application.RollingFileAppender.pathname = $LOG_APPLICATION_ROLLINGFILEAPPENDER_PATHNAME
log.application.RollingFileAppender.policy = $LOG_APPLICATION_ROLLINGFILEAPPENDER_POLICY
log.application.RollingFileAppender.TimeBasedRollingPolicy.filename_pattern = $LOG_APPLICATION_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_FILENAME_PATTERN
log.application.RollingFileAppender.TimeBasedRollingPolicy.max_history = $LOG_APPLICATION_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_MAX_HISTORY

# See the "SyslogAppender" section for a list of facilities:
# http://logback.qos.ch/manual/appenders.html
log.application.SyslogAppender.enabled = $LOG_APPLICATION_SYSLOGAPPENDER_ENABLED
log.application.SyslogAppender.host = $LOG_APPLICATION_SYSLOGAPPENDER_HOST
log.application.SyslogAppender.port = $LOG_APPLICATION_SYSLOGAPPENDER_PORT
log.application.SyslogAppender.facility = $LOG_APPLICATION_SYSLOGAPPENDER_FACILITY

#----------------------------------------
# Error Log
#----------------------------------------

# Application log messages with a severity of WARN or greater can be copied
# into a dedicated error log, which may make them easier to spot.

# N.B.: Don't enable FileAppender and RollingFileAppender simultaneously!
log.error.FileAppender.enabled = $LOG_ERROR_FILEAPPENDER_ENABLED
log.error.FileAppender.pathname = $LOG_ERROR_FILEAPPENDER_PATHNAME

log.error.RollingFileAppender.enabled = $LOG_ERROR_ROLLINGFILEAPPENDER_ENABLED
log.error.RollingFileAppender.pathname = $LOG_ERROR_ROLLINGFILEAPPENDER_PATHNAME
log.error.RollingFileAppender.policy = $LOG_ERROR_ROLLINGFILEAPPENDER_POLICY
log.error.RollingFileAppender.TimeBasedRollingPolicy.filename_pattern = $LOG_ERROR_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_FILENAME_PATTERN
log.error.RollingFileAppender.TimeBasedRollingPolicy.max_history = $LOG_ERROR_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_MAX_HISTORY

#----------------------------------------
# Access Log
#----------------------------------------

log.access.ConsoleAppender.enabled = $LOG_ACCESS_CONSOLEAPPENDER_ENABLED

# N.B.: Don't enable FileAppender and RollingFileAppender simultaneously!
log.access.FileAppender.enabled = $LOG_ACCESS_FILEAPPENDER_ENABLED
log.access.FileAppender.pathname = $LOG_ACCESS_FILEAPPENDER_PATHNAME

# RollingFileAppender is an alternative to using something like
# FileAppender + logrotate.
log.access.RollingFileAppender.enabled = $LOG_ACCESS_ROLLINGFILEAPPENDER_ENABLED
log.access.RollingFileAppender.pathname = $LOG_ACCESS_ROLLINGFILEAPPENDER_PATHNAME
log.access.RollingFileAppender.policy = $LOG_ACCESS_ROLLINGFILEAPPENDER_POLICY
log.access.RollingFileAppender.TimeBasedRollingPolicy.filename_pattern = $LOG_ACCESS_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_FILENAME_PATTERN
log.access.RollingFileAppender.TimeBasedRollingPolicy.max_history = $LOG_ACCESS_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_MAX_HISTORY

# See the "SyslogAppender" section for a list of facilities:
# http://logback.qos.ch/manual/appenders.html
log.access.SyslogAppender.enabled = $LOG_ACCESS_SYSLOGAPPENDER_ENABLED
log.access.SyslogAppender.host = $LOG_ACCESS_SYSLOGAPPENDER_HOST
log.access.SyslogAppender.port = $LOG_ACCESS_SYSLOGAPPENDER_PORT
log.access.SyslogAppender.facility = $LOG_ACCESS_SYSLOGAPPENDER_FACILITY
